<!-- As a link -->
<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="#">[108] ERP Project</a>
    <a class="navbar-brand" href="converter">Home</a>
    <a class="navbar-brand" href="user/list">User List</a>
    <a class="navbar-brand" href="user/register">Register Users</a>
    <a class="navbar-brand" href="login">Login</a>
    <a class="navbar-brand" href="about">About</a>
  </nav>
  <!-- 
      MENUS
      Home
      User List
      Register Users
      Login
      About

      add some style to register user page

      Install GIT for windows
    -->

<!-- Menus -->
<!-- 
    Home
    User List
    Register Users
    Login
    About
 -->

 <!-- Add style to register-user.component.css -->

<!-- Install Git for windows -->
<!-- Video of git -->
